@import "_reset";
@import "variables";

body {
  background-color: $red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

img {
  width: 100px;
}

h1 {
  margin-top: 10px;
  color: white;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
  display: none;
}
